<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>567701438863-q15rlr7ogrpulcp23cviksmpl2hci17p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567701438863-q15rlr7ogrpulcp23cviksmpl2hci17p</string>
	<key>API_KEY</key>
	<string>AIzaSyDRzJF2NdnsqFGDfDYG6RScAt1YJ0UGrR8</string>
	<key>GCM_SENDER_ID</key>
	<string>567701438863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.strating.CodeHeroes</string>
	<key>PROJECT_ID</key>
	<string>m4m-code-heroes</string>
	<key>STORAGE_BUCKET</key>
	<string>m4m-code-heroes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:567701438863:ios:64baf4c69bdd6a92</string>
	<key>DATABASE_URL</key>
	<string>https://m4m-code-heroes.firebaseio.com</string>
</dict>
</plist>